{# {{ hostvars[item]['ansible_facts']['os_family'] }} #}
{# {{ group | regex_replace('^([^.]*)\.(.*)$', '\\1') }}={{ group | regex_replace('^(.*)\.(.*)$', '#\\2') }} #}
{% for item in prometheus_targets_node -%}
{%- set dist = [] -%}
{%- set idc = [] -%}
{%- set env = [] -%}
{%- set service = [] -%}
{% if item in groups['monit.port.9100'] %}
- targets: ['{{ hostvars[item]['ansible_host'] }}:9100']
{% else %}
- targets: ['{{ hostvars[item]['ansible_host'] }}:31672']
{% endif %}
  labels:
    {% for group in hostvars[item]['group_names'] -%}
    {%- if group | regex_search('dist\.(u\d+|[crf].*\d+)') -%}
    {{ dist.append(group | regex_replace('^(.*)\.(.*)$', '\\2')) }}
    {%- endif -%}
    {%- if group | regex_search('idc\.') -%}
    {{ idc.append(group | regex_replace('^(.*)\.(.*)$', '\\2')) }}
    {%- endif -%}
    {%- if group | regex_search('env\.') -%}
    {{ env.append(group | regex_replace('^(.*)\.(.*)$', '\\2')) }}
    {%- endif -%}
    {%- if group | regex_search('bitmart\.') -%}
    {{ service.append(group | regex_replace('^(.*)\.(.*)$', 'vm-\\2')) }}
    {%- endif -%}
    {%- endfor -%}
    all:  "{{ item }}"
    dist: "{{ dist|unique|join('#') }}"
    idc:  "{{ idc|unique|join('#') }}"
    env:  "{{ env|unique|join('#') }}"
    service: "{{ service|unique|join('#') }}"
{% endfor %}
