{{- define "wechat.default.message" -}}
{{- range .Alerts -}}
{{- if le .EndsAt.Unix 0 -}}⛔{{ end -}}
{{- end -}}
{{- range .Alerts -}}
{{- if gt .EndsAt.Unix 0 -}}✅{{ end -}}
{{- end -}}
{{ (index .Alerts 0).Labels.alertname }}
{{ range .Alerts -}}
{{ if gt .EndsAt.Unix 0 -}}
【ＯＫ】{{ if .Labels.alias }}{{ .Labels.alias }}{{ else }}{{ .Labels.all }}{{ end }}
{{ else -}}
{{- if eq (.Labels.region | toUpper) "VM" -}}
【VM】{{ if .Labels.alias }}{{ .Labels.alias }}{{ else }}{{ .Labels.all }}{{ end }}
{{ else if eq (.Labels.region | toUpper) "GCP" -}}
【GCP】{{ if .Labels.alias }}{{ .Labels.alias }}{{ else }}{{ .Labels.all }}{{ end }}
{{ else if eq (.Labels.region | toUpper) "AWS" -}}
【AWS】{{ if .Labels.alias }}{{ .Labels.alias }}{{ else }}{{ .Labels.all }}{{ end }}
{{ else -}}
【NG】{{ if .Labels.alias }}{{ .Labels.alias }}{{ else }}{{ .Labels.all }}{{ end }}
{{ end -}}
{{ end -}}
地址: {{ .Labels.instance }}
{{ if gt .EndsAt.Unix 0 -}}
故障时间: {{ (.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
恢复时间: {{ (.EndsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
持续: {{ (.EndsAt.Sub .StartsAt).Truncate 1000000000 }}
{{ else -}}
故障时间: {{ (.StartsAt.Add 28800e9).Format "2006-01-02 15:04:05" }}
{{ end -}}
摘要: {{ .Annotations.summary }}
{{ end }}
{{- end }}
