deb {{ mirror_url }} {{ ansible_distribution_release }} main restricted universe multiverse
deb-src {{ mirror_url }} {{ ansible_distribution_release }} main restricted universe multiverse

deb {{ mirror_url }} {{ ansible_distribution_release }}-security main restricted universe multiverse
deb-src {{ mirror_url }} {{ ansible_distribution_release }}-security main restricted universe multiverse

deb {{ mirror_url }} {{ ansible_distribution_release }}-updates main restricted universe multiverse
deb-src {{ mirror_url }} {{ ansible_distribution_release }}-updates main restricted universe multiverse

deb {{ mirror_url }} {{ ansible_distribution_release }}-proposed main restricted universe multiverse
deb-src {{ mirror_url }} {{ ansible_distribution_release }}-proposed main restricted universe multiverse

deb {{ mirror_url }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
deb-src {{ mirror_url }} {{ ansible_distribution_release }}-backports main restricted universe multiverse
