deb {{ mirror_url }} {{ ansible_distribution_release }} main non-free contrib
deb {{ mirror_security }} {{ ansible_distribution_release }}/updates main
deb {{ mirror_url }} {{ ansible_distribution_release }}-updates main non-free contrib
deb {{ mirror_url }} {{ ansible_distribution_release }}-backports main non-free contrib

deb-src {{ mirror_security }} {{ ansible_distribution_release }}/updates main
deb-src {{ mirror_url }} {{ ansible_distribution_release }} main non-free contrib
deb-src {{ mirror_url }} {{ ansible_distribution_release }}-updates main non-free contrib
deb-src {{ mirror_url }} {{ ansible_distribution_release }}-backports main non-free contrib
