net:
  bindIp: 0.0.0.0
  ipv6: false
  maxIncomingConnections: 65536
  port: "{{ MONGO_NET_PORT | int }}"

{% if authorization is defined and authorization %}
replication:
  #oplogSizeMB: 1024
  replSetName: mongos

security:
  authorization: enabled
  keyFile: "{{ MONGO_DATA_PATH }}/conf/mongodb-keyfile"
  javascriptEnabled: false

{% else %}

security:
  authorization: disabled
{% endif %}

storage:
  dbPath: {{ MONGO_DATA_PATH }}/db/
  directoryPerDB: true
  engine: wiredTiger
  journal:
    enabled: true
  wiredTiger:
    engineConfig:
      directoryForIndexes: false

systemLog:
  destination: {{ MONGO_SYSYTEMLOG_DESTIANTION }}
  {% if MONGO_SYSYTEMLOG_DESTIANTION == 'file' -%}
  logAppend: true
  logRotate: "rename"
  path: {{ MONGO_DATA_PATH }}/log/mongo.log
  {%- endif %}
