[Unit]
Description=An object/document-oriented database
Documentation=man:mongod(1)

[Service]
User=mongod
Group=mongod
ExecStart=/usr/bin/numactl --interleave=all /usr/bin/mongod --config {{ MONGO_DATA_PATH }}/conf/mongod.conf
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE= 64000
# processes/threads
LimitNPROC= 64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false

# Recommended limits for for mongod as specified in
# http://docs.mongodb.org/manual/reference/ulimit/#recommended-settings

[Install]
WantedBy=multi-user.target
