{%- set dist = [] -%}
{%- set idc = [] -%}
{%- set env = [] -%}
{%- set service = [] -%}
{
  "ID": "{{ item }}",
  "Name": "node-exporter",
  "Tags": [
    "node-exporter"
  ],
  "Address": "{{ hostvars[item]['ansible_host'] }}",
  {% if item in groups['monit.port.9100'] %}
  {%- set port = 9100 -%}
  "Port": {{ port }},
  {% else %}
  {%- set port = 31672 -%}
  "Port": {{ port }},
  {% endif %}
  "Meta": {
    {% for group in hostvars[item]['group_names'] -%}
    {%- if group | regex_search('dist\.(u\d+|[crf].*\d+)') -%}
    {{ dist.append(group | regex_replace('^(.*)\.(.*)$', '\\2')) }}
    {%- endif -%}
    {%- if group | regex_search('idc\.') -%}
    {{ idc.append(group | regex_replace('^(.*)\.(.*)$', '\\2')) }}
    {%- endif -%}
    {%- if group | regex_search('env\.') -%}
    {{ env.append(group | regex_replace('^(.*)\.(.*)$', '\\2')) }}
    {%- endif -%}
    {%- if group | regex_search('bitmart\.') -%}
    {{ service.append(group | regex_replace('^(.*)\.(.*)$', 'vm-\\2')) }}
    {%- endif -%}
    {%- endfor -%}
    "all":  "{{ item }}",
    "dist": "{{ dist|unique|join('#') }}",
    "idc":  "{{ idc|unique|join('#') }}",
    "env":  "{{ env|unique|join('#') }}",
    "service": "{{ service|unique|join('#') }}"
  },
  "EnableTagOverride": false,
  "Check": {
    "HTTP": "http://{{ hostvars[item]['ansible_host'] }}:{{ port }}/metrics",
    "Interval": "10s"
  },
  "Weights": {
    "Passing": 10,
    "Warning": 1
  }
}
