{
    "data-root": "{{ docker_root_dir }}",
    "live-restore": true,
    "log-driver": "json-file",
    "exec-opts": ["native.cgroupdriver=systemd"],
    "storage-driver": "overlay2",
    "log-opts":
        {
            "max-file": "{{ log_max_file }}",
            "max-size": "{{ log_max_size }}"
        },
    "default-address-pools":
        [
            {
                "base": "{{ address }}",
                "size": {{ size }}
            }
        ],
    "registry-mirrors":
        [
            "{{ mirrors1 }}",
            "{{ mirrors2 }}",
            "{{ mirrors3 }}",
            "{{ mirrors4 }}"
        ]
}
